#toggled {
    margin-top: 20px;
    float: right;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
#skelet {
    background-image: url("https://moz.com/images/cms/top500-background-pattern.png?q=95&auto=format&fit=crop&dm=1633451445&s=b6ca48b616fad8da3e23784e549bc3d2");
}
#skelet2 {
    background-color: #120439;
}
#snake {
    padding-top: 50px;
}
#two048 {
    padding-top: 50px;
}
#bod {
    padding-top: 150px;
    font-size: 1.6em;
    color: 	#f6b319     ;
    margin-bottom: 200px;
}
#main-content {
    padding-top: 90px;
    background-color:dodgerblue;
    padding-bottom: 100px;
}
#main-content > h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-bottom: 100px;
}
u {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 3px solid white;
}
#first, #second, #third {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}
#first:hover, #second:hover, #third:hover {
    box-shadow: 0 2px 5px 2px #cccccc;
}

#first span, #second span, #third span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
.active {
    color: orange;
    background-color: #842029;
}
#toggled:hover {
    background-color: gray;
    color:  aliceblue;
}
#navbarToggleExternalContent {
    font-size: 1.6em;
    text-align: center;
}
#navlist li {
    display: block;
    text-shadow: none;
}
#navlist a {
    text-decoration: none;
    text-align: center;
    color: black;
}
#navlist li:hover {
    color: orange;
    background-color: #842029;
}
#title_1 {
    color: #120439;
    font-family: 'Teko', sans-serif;
    font-size: 2.4em;
    margin-top: 20px;
    float: left;
}
#about, #projects, #contacts, #home {
    border: 2px solid #555555;
    width: 90px;
    margin-top: 20px;
    float: right;
    margin-right: 15px;
}
#about:hover, #projects:hover, #contacts:hover, #home:hover {
    text-decoration: none;
    color: aliceblue;
    background-color: #555555;
}
#orto {
    background-color: #120439;
    height: 600px;
}
section {
    height: 100px;
    font-size: 1.6em;
    text-align: center;
}
#foot a:hover {
    color: white;
}
#foot h2 {
    padding-top: 40px;
    margin-bottom: 70px;
}
section a {
    text-decoration: none;
}
section div {
    width: fit-content;
    margin: 0 auto 5px;
}
section div:hover {
    margin-top: 10px;
}
section span, a{
    font-size: 1.3em;
    color: aliceblue;
    text-shadow: 2px 2px black;
}
#nCollapse {
    width: 100%;
    height: 80px;
}
#foot {
    height: 350px;
}
#lowest p {
    color: skyblue;
    font-size: 1.3em;
    text-align: center;
}
h2 {
    font-family: 'Teko', sans-serif;
    color:aliceblue;
    font-size: 2.5em;
    text-align: center;
}
h1 {
    padding-top: 40px;
    margin-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 4em;
    color:darkorange;
}
@media (min-width: 576px) and (max-width: 991px) {
    #title_1 {
        margin-top: 15px;
        font-size: 2.8em;
    }
    h1 {
        font-size:2.4em;
    }
    #foot h2 {
        font-size: 3em;
        margin-bottom: 30px;
    }
    #foot {
        height: 420px;
    }
    section {
        font-size: 1.4em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #foot h2 {
        font-size: 3em;
    }
    #title_1 {
        margin-top: 15px;
        font-size: 3.2em;
    }
}
@media (min-width: 1200px) {
    #title_1 {
        margin-top: 10px;
        font-size: 3.5em;
    }
    #about, #projects, #contacts, #home {
        margin-top: 20px;
    }
    #foot h2 {
        font-size: 3.5em;
    }
}

@media (max-width: 575px) {
    #first, #second, #third {
        width: 350px;
        margin: 0 auto 30px;
    }
    h1 {
        font-size:1.8em;
    }
    #foot {
        height: 460px;
    }
    #foot h2 {
        padding-top: 40px;
        margin-bottom: 40px;
        font-size: 2.6em;
    }
    section {
        height: 60px;
        font-size: 1.3em;
    }
    #title_1 {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 2.7em;
    }
}